*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 200px;
    height: 50px;
}
.flex{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;

}
.main-nav{
    margin-top: 30px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);

}
.nav-links{
    flex-basis: 830px;
}
.nav-links ul{
    justify-content: end;
    gap: 5%;
    
}
.nav-links ul li a{
    font-family: 'Mulish', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
}

.nav-links ul li a:hover{
    border-bottom: 3px solid black;
}
.nav-links ul li button{
    background-color: black;
    color: white;
    padding: 7px 10px;
    border-radius: 6px;
}

